<p>interests works!</p>

<section id="intrests">
    <div ngIf="currentLan===1">
      <h1>Witaj na mojej stronie z zainteresowaniami!</h1>
      <p>Jestem młodym i entuzjastycznym programistą, który głęboko pasjonuje się tworzeniem gier i ciągle się uczę. Oto kilka spojrzeń na to, co napędza moją ciekawość i kreatywność:</p>
  
      <h2>Programowanie:</h2>
      <p>Każda linia kodu to krok naprzód w mojej podróży odkrywania. Jako początkujący programista, jestem oddany doskonaleniu swoich umiejętności i opanowaniu rzemiosła. Od podstaw składni po zawiłości algorytmów, przyjmuję wyzwania nauki i dążę do przesuwania granic tego, co możliwe za pomocą kodu.</p>
  
      <h2>Tworzenie gier:</h2>
      <p>Gry to nie tylko rozrywka - to płótno dla wyobraźni i innowacji. Jestem ujęty sztuką tworzenia gier, gdzie opowiadanie historii, projektowanie i technologia łączą się, aby stworzyć wciągające doświadczenia. Z każdą grą, którą tworzę, staram się nauczyć czegoś nowego i przynieść radość graczom na całym świecie.</p>
    </div>
    <div ngIf="currentLan===2">
      <h1>Welcome to My Interests Page!</h1>
      <p>I'm a young and enthusiastic programmer who's deeply passionate about game development and continually learning along the way. Here's a little insight into what fuels my curiosity and creativity:</p>
  
      <h2>Programming:</h2>
      <p>Every line of code is a step forward in my journey of discovery. As a budding programmer, I'm dedicated to honing my skills and mastering the craft. From the basics of syntax to the intricacies of algorithms, I embrace the challenges of learning and strive to push the boundaries of what's possible through code.</p>
  
      <h2>Game Development:</h2>
      <p>Games are more than just entertainment—they're a canvas for imagination and innovation. I'm captivated by the art of game development, where storytelling, design, and technology converge to create immersive experiences. With every game I create, I aim to learn something new and bring joy to players around the world.</p>
  
    </div>
</section>