.navbar {
    background-color: #e9ecef;
    overflow: hidden;
    display: flex;
    justify-content: center;
  }
  
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.navbar a:hover {
    background-color: darkgray;
}
  
.navbar a.active {
    background-color: gray;
    color: white;
}